<h1 align='center'><strong>Webscrapping Indicative Votes from Guardian Website</strong></h1>

------

In [2]:
# Import Libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re

try:
    # For Python 3.0 and later
    from urllib.request import urlopen
except ImportError:
    # Fall back to Python 2's urllib2
    from urllib2 import urlopen

In [3]:
# Specify the url
# Query the website and return the html to the variable ‘page’
url = "https://www.theguardian.com/uk-news/ng-interactive/2019/mar/27/how-did-your-mp-vote-in-the-indicative-votes"
response = requests.get(url)

In [4]:
# If the access was successful, you should see the following output <Response [200]>
response

In [5]:
# parse the html using beautiful soup and store in variable `soup`
soup = BeautifulSoup(response.text, "html.parser")

# Take out the <div> of name and get its value
header = [a.get_text().strip() for a in soup.find_all(attrs={'class': 'day-header-title'})]
numbers = [a.get_text().strip() for a in soup.find_all(attrs={'class': 'gv-num-label'})]
fa = ['for', 'against']*8

dic = pd.DataFrame({
    'Header': [header[i//2] for i in range(len(header)*2)],
    'Votes': [numbers[i] for i in range(len(numbers))],
    'For_Against': [fa[i] for i in range(len(fa))]
})

In [6]:
dic

                                  Header Votes For_Against
0                          Customs union   265         for
1                          Customs union   271     against
2               Confirmatory public vote   268         for
3               Confirmatory public vote   295     against
4                            Labour plan   237         for
5                            Labour plan   307     against
6                    ‘Common market 2.0’   189         for
7                    ‘Common market 2.0’   283     against
8                      Revoke article 50   184         for
9                      Revoke article 50   293     against
10                               No deal   160         for
11                               No deal   400     against
12  Contingent preferential arrangements   139         for
13  Contingent preferential arrangements   422     against
14        EEA/Efta without customs union    64         for
15        EEA/Efta without customs union   377     against

In [7]:
x = [a.get_text().strip() for a in soup.find_all(attrs={'class': 'int-row int-row--mp'})]

In [8]:
y=','.join(map(str, x[0]))
y

'L,a,b,\n,\n,\n,G,r,a,h,a,m, ,P, ,J,o,n,e,s,\n,\n,\n,H,y,n,d,b,u,r,n,\n, ,(,\n,L,e,a,v,e, ,6,6,%,\n,),\n,\n,\n,\n,\n,1,\n,\n,\n,2,\n,\n,\n,3,\n,\n,\n,4,\n,\n,\n,5,\n,\n,\n,6,\n,\n,\n,7,\n,\n,\n,8'

In [9]:
h=y.replace("\n,", "")
h

'L,a,b,G,r,a,h,a,m, ,P, ,J,o,n,e,s,H,y,n,d,b,u,r,n, ,(,L,e,a,v,e, ,6,6,%,),1,2,3,4,5,6,7,8'

In [10]:
j=h.replace(',', '')
j

'LabGraham P JonesHyndburn (Leave 66%)12345678'

In [11]:
l=''.join(j.partition(')')[0:2])

In [12]:
re.sub('[^0-9]', '', l)

'66'

In [13]:
party = []
vot = []
p = []
p.append([a.get_text().strip() for a in soup.find_all(attrs={'class': 'int-row int-row--mp'})])

for i in range(len(p[0])):
    y = ','.join(map(str, p[0][i]))
    h = y.replace("\n,", "")
    j = h.replace(',', '')
    if "Lab" in j:
        party.append('Labour')
    elif "Con" in j:
        party.append('Conservative')
    else:
        party.append('Others')
    l = ''.join(j.partition(')')[0:2])
    num = re.sub('[^0-9]', '', l)
    vot.append(num)

In [14]:
df = pd.DataFrame({
    'Party': [party[i] for i in range(len(party))],
    'Votes': [vot[i] for i in range(len(vot))]
})

In [15]:
df

            Party Votes
0          Labour    66
1          Labour    80
2    Conservative    58
3    Conservative    60
4    Conservative    53
5    Conservative    63
6          Labour    69
7    Conservative    66
8          Others    62
9          Labour    74
10         Labour    51
11   Conservative    55
12   Conservative    51
13         Labour    51
14   Conservative    58
15         Labour    58
16   Conservative    69
17         Others    71
18   Conservative    51
19   Conservative    51
20         Labour    69
21   Conservative    52
22   Conservative    53
23   Conservative    69
24         Others    57
25   Conservative    67
26         Labour    67
27   Conservative    52
28         Labour    61
29         Others    67
..            ...   ...
619  Conservative    50
620  Conservative    76
621  Conservative    73
622        Labour    68
623        Labour    75
624        Labour    58
625  Conservative    59
626  Conservative    60
627        Labour    51
628        Labour    65
629        Others    58
630  Conservative    53
631  Conservative    61
632  Conservative    58
633        Others    64
634        Labour    58
635        Others    54
636  Conservative    65
637        Labour    59
638        Others    55
639        Labour    67
640        Others    60
641        Others    54
642  Conservative    70
643        Others    57
644  Conservative    52
645  Conservative    54
646        Labour    52
647  Conservative    51
648        Labour    74

[649 rows x 2 columns]